/* game board table */

#game {
  width: 50%;
  position: relative;
  margin: 5% auto;
}

#board {
  margin: 5%;
  width: 90%;
}

#board td {
  width: 10%;
  height: 50px;
  border: solid 1px #666;
}

button {
  background-color: lightgray;
  border: 2px solid darkgray;
  padding: 5px;
  position: absolute;
  top: 50%;
  left: 40%;
  cursor:pointer;
  display: none;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  animation: drop .5s ease-in;
}

/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px lightgray;
}

#column-top td:hover {
  background-color: gold;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

@keyframes drop {
  from { transform: translateY(-600px)}
  to { transform: translateY(0)}
}

/* try doing the animation with javascript to determine top value */

#overlay {
  background-color: black;
  opacity: 50%;
  height: 100%;
  width: 100%;
  position: absolute;
  display: none;
}

#winner-display {
  display: none;
  height: 50px;
  width: 100px;
}