body {
  font-family: sans-serif;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
}

.game-wrapper {
  display: flex;
  justify-content: space-around;
}

/* form inputs */
.form {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  width: 15%;
}

#player1 {
  margin: 1rem 0;
}

#player2, #player3, #player4 {
  display: none;
  margin-bottom: 1rem;
}

/* start button */
button {
  background-color: lightgray;
  border: none;
  border-radius: 0.2rem;
  box-shadow: 1px 1px grey;
  cursor: pointer;
  padding: 0.5rem;
  width: fit-content;
}

/* Div displaying current player */
#current-player {
  text-align: center;
  display: none;
  margin: 2rem;
  width: 15%;
}

#current-player p {
  margin-top: 0;
}

.current-piece {
  border-radius: 50%;
  height: 50px;
  margin: auto;
  width: 50px;
}

/* game board table */
#game {
  height: 500px;
  position: relative;
  width: 500px;
}

#board {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* board cell */
#board td {
  border: solid 1px #666;
  height: 10%;
  width: 10%;
}

/* overlay that disables board at end of game */
#overlay {
  background-color: black;
  display: none;
  height: 100%;
  opacity: 40%;
  position: absolute;
  width: 100%;
}

/* div that displays winner at end of game */
#winner-display-wrapper {
  background-color: lightgray;
  border-radius: 8px;
  display: none;
  font-family: sans-serif;
  font-size: 20px;
  margin-left: 30%;
  position: absolute;
  text-align: center;
  top: 30%;
  width: 30%;
  padding: 1rem;
}

#winner-display-wrapper p {
  margin: 0;
}

/* pieces are divs within game table cells: colored circles */
.piece {
  animation: drop 0.5s ease-in;
  border-radius: 50%;
  height: 80%;
  margin: 5px;
  width: 80%;
}

/* column-top is table row of clickable areas for each column */
#column-top td {
  border: dashed 1px lightgray;
}

#column-top td:hover {
  background-color: gold;
}

/* animate pieces to drop into place */
@keyframes drop {
  from {
    transform: translateY(-600px);
  }
  to {
    transform: translateY(0);
  }
}
